  <footer id="redes">
            <h1>Mis Redes</h1>
            <a target="_blank" href="https://www.linkedin.com/in/antonio-alejandro-badilla-espinoza/">
               <%= image_tag "Linkedin.png"%>
            </a>

        </footer>