 <header>
        <h1>Sobre Mi</h1>
        <div class="foto">
        <%= image_tag "foto.jpg"%>
        </div>
        <h2>Antonio Badilla</h2>
    </header>
    <section>
        <div id="resumen">
            <h4>Resumen</h4>
            <p>Actualmente expandiendo mis conocimientos en el rubro de programación a través de los cursos luego de
                haber tenido años de experiencia en el área gastronómica.</p>
        </div>
        <div id="datos">
            <h4>Datos Personales</h4>
            <ul>
                <li>Nombre: Antonio Alejandro Badilla Espinoza</li>
                <li>Lugar de Nacimiento: Valdivia, Chile</li>
                <li>Fecha de nacimiento: 08 de Febrero de 1990</li>
            </ul>
        </div>
        <div id="actitudes">
            <h4>Aptitudes principales</h4>
            <ul>
                <li>Cocina mediterránea</li>
                <li>Higiene de los alimentos</li>
                <li>Aptitudes para la cocina</li>
                <li>Procesado de alimentos</li>
                <li>Hojas de estilos en cascada (CSS)</li>
                <li>HTML5</li>
                <li>Programación</li>
                <li>JavaScript</li>
                <li>CSS Flexbox</li>
                <li>Desarrollo front end</li>

            </ul>
        </div>
        <div id="certificaciones">
            <h4>Licencias y certificaciones</h4>
            <ul>
                <li>
                    <a target="_blank" href="https://app.aluracursos.com/certificate/14e662cf-2ecb-46b6-a435-1088122e263a">Lógica de programación: Primeros pasos</a>
                </li>
                <li>
                    <a target="_blank" href="https://app.aluracursos.com/certificate/a5585be2-be10-4810-89d6-b94f2ea47884">HTML5 y CSS3 parte 1: Mi primera página web</a>
                </li>
                <li>
                    <a target="_blank" href="https://app.aluracursos.com/certificate/675e0ed0-e970-4d15-9339-84b2d8c7c1df">Foco: Enfocarse trae más resultados para el día a día</a>
                </li>
            </ul>
        </div>
          </section>
