
<div class="container text-center" id="cartas">
  <div class="row">
    <div class="col">
     <div class="card" style="width: 18rem;">
     <%= image_tag "nasa.png"%>
  
    <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-success">Ver Más</a>
  </div>
</div>
    </div>
    <div class="col">
  <div class="card" style="width: 18rem;">
  <%= image_tag "encriptador.png"%>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-success">Ver Más</a>
  </div>
</div>
    </div>
    <div class="col">
    <div class="card" style="width: 18rem;">
 <%= image_tag "Landing.png"%>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-success">Ver Más</a>
  </div>
</div>
    </div>
  </div>
</div>

<iframe width="1240" height="920" src="https://www.youtube.com/embed/LlYQSoAZTtk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>